.back{
    background-color: aquamarine;
}
.bye-new-button{
    color: cornsilk;
    background-color: black;
    border-radius: 20px;
    height: 40px;
    width: 110px;
}
.c{
    text-align:center;
}
#bottom-img{
    position: relative;
    height: 500px;
    width: 70%;
    margin: auto;
}

#img-1{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 15%;

}
#img-2{
    position: absolute;
    
    bottom: 0;
    left: 30%;
    box-shadow: darkorange;
}
#img-3{
    position: absolute;
    top: 0;
    left: 30%;
    
}
#img-4{
    position: absolute;
    width: 50%;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    
    
}
.card-text{
    text-align: center;
}
#b{
    text-align: center;
}
.card-body{
    text-align: center;
}
.card-footer{
    text-align: center;
}
.c{
    text-align:left;
    margin: 35px 0 35px 0;
}